{% extends 'base_layout.html' %}



{% block content %}

<style>
    a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>

<div class="about-section">
  <h1 class="txt-white">About Transportation Management System</h1>
  <p class="txt-white">Transportation Management System is a web-based app by which users will be able to book their bus ticket following the details of route distribution,transport details. Moreover users will have an idea of train and bus along with their transport details.</p>
  <p class="txt-white">This system is going to be very useful for newly shifted people in this capital. We have built this system in order to help this people and make their new life a bit easier in this complicated city. .</p>
</div>

<h1 style="text-align:center">Our Team</h1>
<div class="row">


  <div class="column">
    <div class="card">
      <img src="/static/eftee.jpg" alt="eftee" style="width:100%;">
      <div class="container">
        <h2>Efte Kharul Islam</h2>
        <p>This is your admin here. Any complications regarding this system will be driven out by me. Take your time while using this app. We have set up calenders and route distribution so that you dont have to search this info anywhere else. You will find an 'contact us' button here, feel free to suggest us any modification and share us your both beautiful and awful journey while using our system.Thank you.</p>
        <p>eftekharislam101@gmail.com</p>
        <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=eftekharislam101@gmail.com" target="_blank"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/static/sakib.jpg" alt="sakib" style="width:100%;">
      <div class="container">
        <h2>Najmus Sakib</h2>
        <p>As an admin, I will be montitoring the reviews and will try to help the users if they find any problems when using our application. We tried to build this application easy to use for the user. Basic knowledge in English should be enough to use this application. Last but not the least, user's reviews will come first for next developments as well. Thank You.</p>
        <p>najmusSakib11gmail.com</p>
        <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=najmusSakib11gmail.com" target="_blank"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/Nodee.jpg" alt="Nodee" style="width:100%;">
      <div class="container">
        <h2>Lamya Ishrat</h2>
        <p> This application is very helpful in our regular life. However, in this busy city, we need a system where we can easily get our transport support. It's  hassle free.  Easy to use,  easy to understand and also it's  more reliable to get our desirable ticket without any kind of inconvenience.
        </p>
        <p>LamyaIshrat99@gmail.com</p>
        <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=LamyaIshrat99@gmail.com" target="_blank"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/static/meeem.jpg" alt="meeem" style="width:100%;">
      <div class="container">
        <h2>Afsana Nur Meem</h2>
        <p>This is your another admin here. If any user faces any complications please feel free to ask us. Most importantly, we ensure a safe and efficient user experience. There is a procedure for rookie users how to use this app.The user's experience  comes first for us.Hope you find it easy to use. Thank you.
        </p>
        <p>AfsanaMeem991@gmail.com</p>
        <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=AfsanaMeem991@gmail.com" target="_blank"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>
</div>






{% endblock %}